# IDE files
.idea/
.vs/

# Build Artefacts
build/
bin/libsonata.so
bin/sandbox
bin/sandbox-debug
bin/sandbox.exe
bin/sandbox.pdb

# Profiling data
bin/SonataProfile*

# ImGui temp files
imgui.ini

#=====================================

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo
